.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
    text-align: center;
}

.movie img {
    border-radius: 8px;
    width: 200px;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 450px;
}

h3 {
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.btnBuscar{
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    height: 40px;
    will-change: transform;
}
.btnBuscar:disabled {
    pointer-events: none;
}
.btnBuscar:hover {
    color: #fff;
    background-color: #1cb3e6;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.btnBuscar:active {
    box-shadow: none;
    transform: translateY(0);
}
input:focus{
    outline: none;
}